<a href="https://colab.research.google.com/github/anubhavgupta1/Data---Science/blob/main/PandasRefresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
series = pd.Series([0,1,1,2,3,5,8])
print(series)

0    0
1    1
2    1
3    2
4    3
5    5
6    8
dtype: int64

In [3]:
series = pd.Series([0.0,1,1,2,3,5,8])
print(series)
print(series.values,type(series.values), series.index)

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
5    5.0
6    8.0
dtype: float64
[0. 1. 1. 2. 3. 5. 8.] <class 'numpy.ndarray'> RangeIndex(start=0, stop=7, step=1)

In [4]:
for item in zip(series.index,series.values):
  print(item)

(0, 0.0)
(1, 1.0)
(2, 1.0)
(3, 2.0)
(4, 3.0)
(5, 5.0)
(6, 8.0)

In [5]:
mars= pd.Series([0.33,57.9,4222.60], index = ["mass","diameter","dayLength"])
print(mars)
print(mars["mass"], mars.mass)

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64
0.33 0.33

In [6]:
arr = np.random.randint(0,10,10)
rand_series = pd.Series(arr)
print(rand_series)

0    3
1    8
2    8
3    7
4    7
5    0
6    3
7    1
8    6
9    6
dtype: int64

In [7]:
ind = np.arange(10,20)
rand_series = pd.Series(arr, index=ind)
print(rand_series)

10    3
11    8
12    8
13    7
14    7
15    0
16    3
17    1
18    6
19    6
dtype: int64

In [8]:
d = {}
d["mass"] = 0.33
d["diameter"] = 57.9
d["dayLength"] = 4222.60
print(d)

{'mass': 0.33, 'diameter': 57.9, 'dayLength': 4222.6}

In [9]:
mars = pd.Series(d)
print(mars)

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

In [10]:
mars= pd.Series(d, index = ["mass","diameter","dayLength"])
print(mars)

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

In [11]:
mars= pd.Series(d, index = ["mass","diameter"])
print(mars)

mass         0.33
diameter    57.90
dtype: float64

In [12]:
series = pd.Series([0.0,1,1,2,3,5,8], index=[1,2,3,4,5,6,7])
print(series)

1    0.0
2    1.0
3    1.0
4    2.0
5    3.0
6    5.0
7    8.0
dtype: float64

In [13]:
print(series[4])
print(series.iloc[3])
print(series.loc[4])

2.0
2.0
2.0

In [14]:
print(series[1])
print(series.iloc[0])
print(series.loc[1])

0.0
0.0
0.0

In [15]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146], 
                 index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [16]:
print(mass)

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [17]:
print(mass[1])
print(mass.iloc[1])
print(mass.Venus)
print(mass["Venus"])
print(mass.loc["Venus"])

4.87
4.87
4.87
4.87
4.87

In [18]:
print(mass['Earth': 'Jupiter'])
print("----------------------------------")
print(mass[2:5])
print("----------------------------------")
print(mass.iloc[2:5])
print("----------------------------------")

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64
----------------------------------
Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64
----------------------------------
Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64
----------------------------------

In [19]:
print(mass > 100)

Mercury    False
Venus      False
Earth      False
Mars       False
Jupiter     True
Saturn      True
Uranus     False
Neptune     True
Pluto      False
dtype: bool

In [20]:
print(mass[mass > 100])

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [21]:
print(mass[(mass > 100) & (mass < 600)])

Saturn     568.0
Neptune    102.0
dtype: float64

In [22]:
print(mass * 2)

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [23]:
print(mass / 10)

Mercury      0.03300
Venus        0.48700
Earth        0.59700
Mars         0.06420
Jupiter    189.80000
Saturn      56.80000
Uranus       8.68000
Neptune     10.20000
Pluto        0.00146
dtype: float64

In [24]:
print(np.mean(mass))

296.29184444444445

In [25]:
print(np.amin(mass))
print(np.amax(mass))
print(np.median(mass))

0.0146
1898.0
5.97

In [26]:
print(mass + mass)

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [27]:
print(mass - mass)

Mercury    0.0
Venus      0.0
Earth      0.0
Mars       0.0
Jupiter    0.0
Saturn     0.0
Uranus     0.0
Neptune    0.0
Pluto      0.0
dtype: float64

In [28]:
big_mass = mass[mass > 100]
print(big_mass)

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [29]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [30]:
new_mass = mass + big_mass
print(new_mass)

Earth         NaN
Jupiter    3796.0
Mars          NaN
Mercury       NaN
Neptune     204.0
Pluto         NaN
Saturn     1136.0
Uranus        NaN
Venus         NaN
dtype: float64

In [31]:
print(pd.isnull(new_mass))

Earth       True
Jupiter    False
Mars        True
Mercury     True
Neptune    False
Pluto       True
Saturn     False
Uranus      True
Venus       True
dtype: bool

In [32]:
print(new_mass[~pd.isnull(new_mass)])

Jupiter    3796.0
Neptune     204.0
Saturn     1136.0
dtype: float64

In [33]:
mass.drop(['Pluto'])

Mercury       0.330
Venus         4.870
Earth         5.970
Mars          0.642
Jupiter    1898.000
Saturn      568.000
Uranus       86.800
Neptune     102.000
dtype: float64

In [34]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

## Collect numbers for the diameters of these planets (heavenly bodies) and store it as a Series object. Then given these two Series objects mass and diameter, compute the density of each planet.

In [35]:
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370], 
                     index=['Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [36]:
density = pd.Series([])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [37]:
for planet in mass.index:
    density[planet] = mass[planet] / (np.pi * diameter[planet] * diameter[planet] * diameter[planet] / 6)

In [38]:
print(density)

Mercury    5.426538e-12
Venus      5.244977e-12
Earth      5.493286e-12
Mars       3.913302e-12
Jupiter    1.240039e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
dtype: float64

In [39]:
density = mass / (np.pi * np.power(diameter, 3) / 6)
print(density)

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon                NaN
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [40]:
mass['PlanetX'] = 6
density = mass / (np.pi * np.power(diameter, 3) / 6)
print(density)

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon                NaN
Neptune    1.603427e-12
PlanetX             NaN
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

## Given this density Series, replace all values which NaNs with the mean density of all planets

In [41]:
density_mean = np.mean(density)

for key in density.index:
    if pd.isnull(density[key]):
        density[key] = density_mean
print(density)

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       2.986303e-12
Neptune    1.603427e-12
PlanetX    2.986303e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [42]:
density[pd.isnull(density)] = np.mean(density)
print(density)

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       2.986303e-12
Neptune    1.603427e-12
PlanetX    2.986303e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [43]:
my_dict = {}
N = 1000000
for i in range(N):
    my_dict[i] = i%10

In [44]:
my_series = pd.Series(my_dict)
M = 10000
arr = np.random.randint(0, N, M)

In [45]:
%%timeit
for i in arr:
    i in my_dict

100 loops, best of 5: 5.29 ms per loop

In [46]:
%%timeit
for i in arr:
    i in my_series

The slowest run took 7.06 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 5: 11 ms per loop

In [47]:
%%timeit
sum(my_dict.values())

100 loops, best of 5: 10 ms per loop

In [48]:
%%timeit
np.sum(my_series)

1000 loops, best of 5: 745 Âµs per loop

In [49]:
%%timeit
mean = sum(my_dict.values()) / N
variance = sum([(x - mean)**2 for x in my_dict.values()])
std = variance ** 0.5

10 loops, best of 5: 174 ms per loop

In [50]:
%%timeit
np.std(my_series)

100 loops, best of 5: 2.32 ms per loop